<center>
    <h2>CHƯƠNG 3: HỌC CÓ GIÁM SÁT</h2>
    <h3>Phân loại dữ liệu và bài toán</h3>
<center>

--- 
**NỘI DUNG BÀI HỌC**
1. Tìm hiểu các tập dữ liệu mẫu, xác đinh biến độc lập X - biến phụ thuộc y
2. Xác định lớp thuật toán học có giám sát ứng với tập dữ liệu

In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Bài toán số 1: Tập dữ liệu Titanic
Xây dựng mô hình học máy có khả năng dự đoán một hành khách đi tàu được dự đoán được cứu (1)

In [6]:
data_titanic = pd.read_csv("Data/Data_Titanic.csv")
data_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1309 non-null   int64
 1   Pclass    1309 non-null   int64
 2   Sex       1309 non-null   object
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Embarked  1307 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 71.7+ KB

In [8]:
data_titanic.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C

**Xác định biến đầu vào (x) - Biến đầu ra (Y)**
- Biến đầu vào (X - Biến độc lập):
    * Pclass: Hạng vé
    * Sex:Giới tính
    * SibSp: Số lượng anh/chị/em, vợ/chồng đi cùng
    * Parch: Số lượng con cái đi cùng
    * Embarked: Cảng lên tàu
- Biến đầu ra (Y - Biến phụ thuộc)

In [9]:
#Khỏa sát biến biến phụ thuộc
data_titanic["Survived"].value_counts

<bound method IndexOpsMixin.value_counts of 0       0
1       1
2       1
3       1
4       0
       ..
1304    0
1305    1
1306    0
1307    0
1308    0
Name: Survived, Length: 1309, dtype: int64>

**Nhận xét**
---
- Biến phụ thuộc y là rời rạc và hữu hạn
- y là tối đa với 2 giá trị khác nhau( 0 hoặc 1)

**Nhận xét**
---

- Biến phụ y là Rời rạc và Hữu hạn
- y là tối đa 2 giá trị khác nhau (Chỉ nhận 0 và 1)

## Bài toán Titanic thuộc lớp học có giám sát  --> Phân loại

## Bài toán số 2: Tập dữ liệu Iris
---
Xây dựng mô hình học máy có khả năg dự đoán 1 bông hoa lan thuộc loài hoa lan nào dựa vào thông tin chiều dài, chiều rộng của cánh và đài hoa

In [10]:
df_iris = pd.read_csv("Data/Data_Iris.csv")
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [12]:
df_iris.sample(5)

     sepal_length  sepal_width  petal_length  petal_width          species
18            5.7          3.8           1.7          0.3      Iris-setosa
117           7.7          3.8           6.7          2.2   Iris-virginica
11            4.8          3.4           1.6          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
52            6.9          3.1           4.9          1.5  Iris-versicolor

**Xác định biến đầu vào X - Biến đầu ra Y:**
---
- Biến đầu vào X ( Biến độc lập): Gồm 4 thuộc tính
    * sepal_lenght: Chiều dài cánh hoa
    * sepla_wight: Chiều rộng cánh hoa
    * petal_lenght: Chiều dài đài hoa
    * petal_wight: Chiều rộng đài hoa
    
- Biến đầu ra y (Biến phụ thuộc): gồm 1 thuộc tính
    * species: Hoa lan thuộc loại hoa nào 
 
--> Tập dữ liệu là tập dữ liệu có gán nhãn (Nhãn y - Thuộc tính species)

In [14]:
 df_iris["species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

**Nhận xét**
- Biến phụ thuộc là hữu hạn và rời rạc
- Biến y có 3 giá trị khác nhau ( Iris-setosa | Iris-versicolor | Iris-virginica )

## Nhận xét: Bài toán Hoa lan Iris thuộc lớp học có giám sát  --> Phân loại --> Phân loại đa lớp

## Bài toán số 3: Tập dữ liệu kim cương
---

Xây dựng mô hình học máy có khả năng dự đoán giá 1 viên kim cương khi biết trọng lượng của nó

In [15]:
df_diamond = pd.read_csv("Data/Data_Diamond.csv")
df_diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Weight(Carat)  50 non-null     float64
 1   Price(USD)     50 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 928.0 bytes

In [16]:
df_diamond.sample(5)

    Weight(Carat)  Price(USD)
29           1.23        6165
45           0.41         827
5            1.14        4212
35           1.79       10108
23           4.50       18531

**XÁC ĐỊNH BIẾN ĐẦU VÀO X - BIẾN DẦU RA Y:**
- Biến đầu vào X (Biến đọc lập): 1 thuộc tính
    * Weight(Carat): Trọng lương viên kim cương
- Biến dầu ra y(BIến phụ thuộc): 1 thuộc tính
    * Price(USD): Giá bán viên kim cương
 --> Tập dữ liệu có gán nhãn ( Nhãn y - THuộc tính Price)

In [19]:
df_diamond["Price(USD)"].describe()

count       50.000000
mean      7550.780000
std       5038.766934
min        345.000000
25%       3560.750000
50%       6796.000000
75%      11452.500000
max      18531.000000
Name: Price(USD), dtype: float64

**Nhận xét**
 * Biến phụ thuộc y là vô hạn các giá trị

## Nhận xét: Bài toán Kim cương thuộc lớp học có giám sát  --> Hồi quy

## Sinh viên thực hiện tương tự cho 2 tập dữ liệu còn lại
1. Data_Comment.csv ( Comment chứa ngôn ngữ độc hại)
2. Data_Housing.csv (Bán nhà)